# Default ignored files
/../../../../:PycharmProjects/GetID-Over/.idea/shelf/
/../../../../:PycharmProjects/GetID-Over/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/GetID-Over/.idea/dataSources/
/../../../../:PycharmProjects/GetID-Over/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/GetID-Over/.idea/httpRequests/
